#main-content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    min-height: 877px;
}

.ta-ct {
    text-align: center;
}

body {
    padding-top: 70px;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
}

.row-offcanvas {
    position: relative;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.row-offcanvas-left
#sidebarLeft {
    left: -40%;
}

.row-offcanvas-left.active {
    left: 40%;
}

.row-offcanvas-right
#sidebarRight {
    right: -40%;
}

.row-offcanvas-right.active {
    right: 40%;
}

.sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 10px;
}

.framwork {
    width: 50%;
    height: 315px;
    border: 0px;
}

.bg {
    background: whitesmoke !important;
}

.pdtnone {
    padding-top: none !important;
}

.ojf {
    object-fit: contain;
    width: 120px;
    height: 250px;
}

.item {
    margin-top: 20px;
    height: 450px;
}

.ojf1 {
    object-fit: contain;
    width: 300px;
    height: 300px;
}