body {
    overflow-x: hidden
}

.border-gray{
    border-radius: 5px;
    border: 1px solid #ccc;
}

.list-group .list-group-item:hover{
    background-color: #ccc;
}

.btn.btn-warning.btn-links{
    margin-top: 5px;
    width: 150px;
    white-space: pre-wrap;
    height: 53px
}

.page-header{
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    clear: both;
    display: inline-block
}
.navbar.navbar-default{
    margin-bottom: 0px;
    max-height: 30px;
}

.page-body {
    background: url('../img/body-content-bg.gif') no-repeat top center;
    height: 100%;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.page-body .container {
    margin-top: 18px;
    padding: 10px;
    width: 995px;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    background: #fff;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {min-height:28px !important;}

.navbar-form.navbar-right{
    margin: 0px;
}
.navbar-form.navbar-right input{
    height: 28px;
}

.p0 {padding: 0px;}
.p5 {padding: 5px;}
.p10 {padding: 10px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.bg-white {
    background-color: #fff;
}